body {
    background: #2e3b3a;
    font-size: x-large;
    color: #5effc3;
    font-family: 'Kameron', serif;
}
.meatTable {
    background: #696b46;
    border-style: ridge;
    border-color: #e3c515;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
img {
    width: 33%;
    margin: auto;
}
.img{
    text-align: center;
    margin-top: 50px;
}
h1 {
    text-align: center;
}